.nav{
    display: flex;
    justify-content: space-between;
    color: white;
    overflow-x: scroll;
    padding: 10px;
    padding-left: 40px;
}
.nav::-webkit-scrollbar{
    display: none ;
}

.nav {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .nav > h2 {
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;
      font-weight: 500;
      opacity: 0.6;
      transition: transform 50ms ease-out;
  }

  .nav > h2:hover {
      opacity: 1;
      transform: scale(1.2);
  }